<mat-toolbar color="primary">
  <span>
    <a href="" routerLink="/">My Messages</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticate">
      <a href="" routerLink="/create" mat-button routerLinkActive="mat-accent">New Post</a>
    </li>
    <li *ngIf="!userIsAuthenticate">
      <a routerLink="/login" mat-button="" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticate">
      <a routerLink="/signup" mat-button="" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticate">
      <a mat-button routerLinkActive="mat-accent" (click)="onLogout()">Logout</a>
    </li>
  </ul>

</mat-toolbar>
